*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: sans-serif;
}

/* HEADER */
.header{
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
  padding: 0.8rem 0;
  gap: 1.5rem;
}

.header img{
  width: 6vw;
}

.header a{
  text-decoration: none;
  color: white;
  font-size: 2vw;
}

.header a:hover{
  color: red;
}

/* HERO SECTION */
.posterImage{
  height: 10%;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
  opacity: 1;
  transition: opacity .3s;
}   

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 8vw;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 2vw;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 3rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1vw;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}

.card-container{
  margin: auto;
  width: 90%;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(6, auto);
}

/* STYLE FOR CARD COMPONENT */
.card img{
  width: 100%;
  border-radius: 10px;
  border: 0.5px white solid;
}

.card{
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  color: white;
  transition: transform 0.5s;
}
.popular-tiltle{
  margin-left: 20px;
  font-size: 3vw;
  padding: 1.5rem;
}
.card:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.movie-details{
  position: absolute;
  bottom: 10px;
  margin: 5px 10px;
  visibility: hidden;
  transition: visibility 0.5s;
}

.movie-details div{
  display: flex;
  justify-content: space-between;
}

.movie-details p{
  font-style: italic;
  font-size: .5rem;
  margin-top: 10px;
}

.movie-details h4{
  font-weight: 900;
    font-size: 1rem;
}

.card:hover .movie-details{
  visibility: visible;
}

@media screen and (max-width : 970px){
  .card-container{
    grid-template-columns: repeat(5, auto);
  }
}
@media screen and (max-width : 840px){
  .card-container{
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (max-width : 640px){
  .card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container a{
    width: 60%;
    
  }

  
}